@model General.Models.Company
@{
    ViewBag.Title = "AddCompany";
}


<section>
    @using (Html.BeginForm("AddCompany", "Company", FormMethod.Post))
    {
        <div>
            <span hidden>
                Name: Guid
                @Html.TextBoxFor(model => model.id)
            </span>
        </div>
        <div>
            Name:
            <div>
                @Html.TextBoxFor(model => model.name, new { @class = "textBox", @required = "required", @type = "text", @maxlength = "50" })
                @Html.ValidationMessageFor(model => model.name)
            </div>
        </div>
        <div>
            OrganizationNumber:
            <div>
                @Html.TextBoxFor(model => model.organizationNumber, new { @class = "textBox", @required = "required", @type = "number", @maxlength = "5" })
                @Html.ValidationMessageFor(model => model.organizationNumber)
            </div>
        </div>
        <div>
            Note:
            <div>
                @Html.TextBoxFor(model => model.notes, new { @class = "textBoxWide"})
            </div>
        </div>
        <input type="submit" value="Add" />
    }
    <div>@Html.ActionLink("Cancel", "Home")</div>
    @ViewBag.result

</section>