@model General.Models.Company
@{
    ViewBag.Title = "EditCompany";
}


<section>
    @using (Html.BeginForm("EditCompany", "Company", FormMethod.Post))
    { 
        <div>@Html.HiddenFor(model => model.id, Model.id)</div>
        <div>
            Name:
            <div>
                @Html.TextBoxFor(model => model.name, Model.name, new { @class = "textBox", @required = "required",
                                                                        @type = "text", @maxlength = "50", placeholder = "Name" })
                @Html.ValidationMessageFor(model => model.name)
            </div>
        </div>
        <div>
            OrganizationNumber:
            <div>
                @Html.TextBoxFor(model => model.organizationNumber, Model.organizationNumber, new { @class = "textBox", @required = "required",
                                                                                                    @type = "number", placeholder = "OrganizationNumber" })
                @Html.ValidationMessageFor(model => model.organizationNumber)
            </div>
        </div>
        <div>
            Note:
            <div>
                @Html.TextBoxFor(model => model.notes, Model.notes, new { @class= "textBoxWide", placeholder = "Note",
                                                                          @type = "text", @maxlength = "500" })
            </div>
        </div>       
        <input type="submit" value="Update" />
    }
    <div>@Html.ActionLink("Cancel", "Home")</div>
    @ViewBag.result

</section>
