@model General.Models.StoreHomeViewModel
@{
    ViewBag.Title = "Home";
}

<section>
    <h5>@Html.ActionLink(@"Back to companys", "Home", "Company")</h5>
    <div class="Suroundingstyle">
        <div id="multiColumn" class="LeftAlignInside col-lg-6 divStyle">
            <div class="LeftColumn">
                <h5>Company</h5>
                Name:
                @Model.company.name                
                <div>
                Organizationnumber:
                @Model.company.organizationNumber
                </div>
                <div>
                Notes:
                @Model.company.notes
                </div>
            </div>
        </div>
        <div id="multiColumn" class="LeftAlignInside col-lg-7 divStyle">
            <h3>Stores</h3>
            <h4>@Html.ActionLink(@"Add a new Store", "AddStore/")</h4>
            @foreach (General.Models.Store store in Model.lStore)
            {
                <div id="multiColumn" class="LeftAlignInside col-lg-6 divStyle">
                    <div class="LeftColumn">
                        @store.name
                    <div>@store.address</div>
                    <div>@store.city</div>
                    <div>@store.zip</div>
                    <div>@store.country</div>
                    <div>@store.longitude</div>
                    <div>@store.latitude</div>
                </div>
                <div class="RightColumn">
                    <div>@Html.ActionLink(@"Edit", "EditStore/" + @store.id)</div>
                    <div>@Html.ActionLink(@"Delete", "DeleteStore", store)</div>
                </div>
            </div>
            }
        </div>
    </div>
</section>

















